.App {
  font-family: "Roboto", sans-serif;
}
.contract{
  max-width: 5vh;
  transition: width 20s;
}
.expand{
  width:100%;
  transition: width 20s;
  }
  #dashboard-side-components:hover{
/* background-color: rgb(98, 98, 98); */
background-color:#424649;
border-radius: 10px;
width:100%
  }