body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
.contract{
  max-width: 6vh;
  transition: width 20s;
}
.expand{
  width:100%;
  transition: width 20s;
  }
  .dashboard-side-components{
    color:white;
    text-decoration: none;
  }
  .dashboard-side-components:hover{
background-color:#424649;
border-radius: 10px;
width:100%
  }

  .remove-default-margin-padding{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .scrollable::-webkit-scrollbar ,.App::-webkit-scrollbar {
    display: none;
  }
  
  .scrollable, .App {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .home-component-header{
    color: #424649;
  }
  .active{
background-color: rgb(98, 98, 98);
border-radius: 10px;
width:100%
  }